{% extends "base.html" %}
{% block content %}
  <h2>Publishing Dashboard</h2>
  <ul>
  <li><a href="{% url 'publisher:therapy_list' %}">Therapy areas</a></li>
  <li><a href="{% url 'publisher:triggercluster_list' %}">Trigger clusters</a></li>
  <li><a href="{% url 'publisher:trigger_list' %}">Triggers</a></li>

  <li><a href="{% url 'publisher:video_list' %}">Videos</a></li>
  <li><a href="{% url 'publisher:cluster_list' %}">Video Bundles</a></li>
  <li><a href="{% url 'publisher:map_list' %}">Video Trigger Maps</a></li>
</ul>

{% endblock %}
